{% extends "base.html" %}
{% block content %}
<nav class="links">
    <a class="home" href="{%url 'registration:home'%}"> home </a>
    <a class="new-hire" href="{% url 'employee:add_employee' %}">Add new new hire</a>
</nav>
<div class="center-container">

    <div>

        <div class="hello">
            Hello {{user.username}}
        </div>

        <div class="staff">
            <h1>Staff Panel</h1>
        </div>



        <table class="existing-users" style="widows: 100px;">
            <tr> 
                <th>existing users</th>
                <th>Remove</th>
            </tr>
            {% for user in users %}
            <tr>
                <td class="users">
                    {{user.username}}
                </td>
                <td>
                    <a href="{% url 'employee:remove_employee' pk=user.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}
